torch==1.5.1
torchvision  --find-links https://download.pytorch.org/whl/torch_stable.html
cudatoolkit==10.1  --find-links https://download.pytorch.org/whl/torch_stable.html
transformers==3.0.2
seqeval
fastprogress
attrdict
pandas