torch==1.5.1+cu101 --find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.1+cu101  --find-links https://download.pytorch.org/whl/torch_stable.html
transformers==3.0.2
seqeval
fastprogress
attrdict
pandas